* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: transparent;
}

button {
	margin: 5px;
    border-radius: 7.5px;
	border-color: #eba0ac;
	border-style: solid;
	border-width: 1px;
	text-decoration-color: #eba0ac;
    color: #eba0ac;
	background-color: #1e1e2e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
}

button:focus, button:active, button:hover {
	background-color: #181825;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
